*.iws
.settings
.classpath
.project
*.log
/*.zip
/*.sha1
/plugin.xml
/cobertura.ser
.DS_Store
/target/
/web-app
/.link_to_grails_plugins/
/target-eclipse/
*.db
/grails-app/views/_build.gsp
.nfs*